
.navbar{

}
.text{
    text-align: justify;
    font-size: 25px;
}
.text-equipamentos{
    margin-top: 30px;
    font-size: 25px;
}
.img-fluid{
    width: 400px;
    height: 400px;
 }
.margin{
    padding: 30px;
}
.caixa-login{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}
.titulo-login{
    text-align: center;
    margin-left: 600px;
}

.form-row{
    float:left;
    display: inline-block;  
}
div{
    display: inline-block;
}

.table{
    display: flex;
    margin: auto;
}

.row-b{
    display: inline-block;
    margin: 30px;
}
.row-c{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}
